<div class="form-login-body">
    <div class="form-login-input">
        <h1 class="text-center">Login</h1>
        <form action="/api/sessions/login" method="POST">
            <div class="email">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <br>
            <div class="password">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn-customize">Iniciar Sesión</button>
            </div>
        </form>
        <div class="text-center" style="margin-top: 20px;">
            ¿No tiene cuenta? <a href="/register">Crear cuenta</a>
        </div>
    </div>
</div>