{{>navbar}}

<form class="container" style="color: white">
  <div class="form-group">
    <label for="form-title">Titulo</label>
    <input type="text" class="form-control" id="form-title">
  </div>

  <div class="form-group">
    <label for="form-select">Estado</label>
    <select class="form-control" id="form-select">
      <option value="true">Verdadero</option>
      <option value="false">Falso</option>
    </select>
  </div>

  <div class="form-group">
    <label for="form-category">Categoria</label>
    <input type="text" class="form-control" id="form-category">
  </div>

  <div class="form-group">
    <label for="form-description">Descripción</label>
    <input type="text" class="form-control" id="form-description">
  </div>

  <div class="form-group">
    <label for="form-price">Precio</label>
    <input type="text" class="form-control" id="form-price">
  </div>

  <div class="form-group">
    <label for="form-code">Código</label>
    <input type="text" class="form-control" id="form-code">
  </div>

  <div class="form-group">
    <label for="form-stock">Stock</label>a
    <input type="number" class="form-control" id="form-stock">
  </div>

  <button type="submit" class="btn-customize mt-4" id="submit-button">Enviar</button>
</form>

<div id='product__container' class="product-list">
</div>

<script
  src='https://cdn.socket.io/4.7.3/socket.io.min.js'
  integrity='sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg'
  crossorigin='anonymous'
></script>
<script src='js/index.js'></script>