<div class="form-register-body">
    <div class="form-register-input">
        <h1 class="text-center">Registrar</h1>
        <form action="/api/users" method="post">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <label for="age" class="form-label">Edad</label>
            <input type="number" id="age" name="age" class="form-control" required>
            <br>
            <div class="text-center">
                <button type="submit" class="btn-customize">Register</button>
            </div>
        </form>
        <div class="text-center" style="margin-top: 10px; padding-bottom: 20px;">
            ¿Ya tiene una cuenta? <a href="/login">Iniciar Sesión</a>
        </div>
    </div>
</div>