<footer class="footer p-3 mt-3">
  <div class="text-center">
    <i class="bi bi-instagram text-white" style="font-size: 24px;"></i>
    <i class="bi bi-twitter-x text-white" style="font-size: 24px;"></i>
    <i class="bi bi-facebook text-white" style="font-size: 24px;"></i>
    <p>© 2024 NBA SHOP. Todos los derechos reservados.</p>
  </div>
</footer>
